/* stylesheet */

h1
{
  border: 5px solid black;
  background-color: darkseagreen;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

body
{
  background-color: aliceblue;
  font-family: Times, sans-serif;
  color: Navy;
}

a:hover {
  color: Sienna;
  font-weight: bold;
}

a:active {
  font-size: 1.25rem;
}

ul
{
  list-style-type: none;
}

p
{
  font-family: Times, sans-serif;
}

footer {
  clear: both;
  border: 2px solid Sandybrown;
  background-color: Navy;
  color: white;

}


/******************/
/*     index      */
/******************/

.image li {
  float: left;
  padding: 30px 20px 50px 20px;
}

/*************************/
/*     eloquentRuby      */
/*************************/

.bookinfo {
  float: left;
  padding-right: 20px;
}

.align-title {
  text-align: center;
  border: 1px solid black;
}


/********************/
/*     contact      */
/********************/

.maintain-image {
  float:left;
}

.enterline {
  margin-top: 50px;
  clear: both;
}
